.App {
  text-align: center;
  background-color: #333;
  transition: 0.5s all ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my styles */
.users{
  background-color: rgb(141, 214, 211);
  margin-top: 30px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 20px;
}

h2{
  background-color: rgb(141, 214, 211);
  padding: 10px;
  border-radius: 100px;
}

img{
  border-radius: 50%;
}

.users h2{
  background-color: rgb(255, 231, 164)
}